VITE_BACKEND_URL_LOCAL=https://api.astracodex.online
VITE_BACKEND_URL_SERVER=https://api.astracodex.online
VITE_BACKEND_URL=https://api.astracodex.online
VITE_VISION_ENDPOINT=https://www.derkarhanak.space/v1/generate
VITE_VISION_MODEL=gemma4:e2b
VITE_VAD_ONNX_WASM_BASE_PATH=https://cdn.jsdelivr.net/npm/onnxruntime-web@1.22.0/dist/
VITE_VAD_BASE_ASSET_PATH=https://cdn.jsdelivr.net/npm/@ricky0123/vad-web@0.0.29/dist/
