OPENROUTER_API_KEY=
OPENROUTER_MODEL_ID=google/gemma-4-31b-it:nitro
OPENROUTER_USE_NITRO=1

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=BtWabtumIemAotTjP5sk

KOKORO_VOICE=bm_fable
KOKORO_SPEED=0.9
KOKORO_LANG=en-us
